
dist/*
!/dist/package.json


bundles/

package/
npm-debug.log
node_modules/

example/dist/
example/npm-debug.log
example/node_modules/
.vscode/

**/*.ngfactory.ts
**/*.shim.ngstyle.ts
**/*.ngsummary.json